.container {
  padding: 20px;
}

.cocktail-detail-card {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.2s;
  position: center;
}

.cocktail-card:hover {
  transform: scale(1.05);
}