:host {
  display: block;
  padding: 2rem;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.details-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  
}

.image-container {
  flex: 1 1 400px;
}

.cocktail-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.info-container {
  flex: 2 1 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cocktail-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

.tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.ingredient-name {
  font-weight: 500;
}

.ingredient-measure {
  margin-left: 0.5rem; /* Add some space between name and measure */
  color: #666;
}

.instructions {
  line-height: 1.6;
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .details-container {
    flex-direction: column;
  }

  .cocktail-title {
    font-size: 2.5rem;
  }
}

.back-to-list-button {
  background-color: #a32727; /* Red accent color */
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  transform: translateY(-2px);
}

.ingredients-form-field {
  border: 1px solid #ccc; 
  border-radius: 8px;
  padding: 0.5rem 1rem; 
  background-color: #fdfdfd; 
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.0rem;
}

.ingredients-list mat-list-item {
  border-bottom: 1px solid #eee; /* Lighter separator */
  padding: 0.75rem 0; /* More padding for list items */
}

.ingredients-list mat-list-item:last-child {
  border-bottom: none;
}

