<div class="cocktail-grid">
  <mat-card class="cocktail-card" *ngFor="let cocktail of displayedCocktails">
    <img
      mat-card-image
      [src]="cocktail.strDrinkThumb"
      [alt]="cocktail.strDrink"
      [routerLink]="['/cocktail', cocktail.idDrink]"
    />
    <div class="card-overlay">
      <mat-card-header>
        <mat-card-title>{{ cocktail.strDrink }}</mat-card-title>
      </mat-card-header>
    </div>
  </mat-card>
</div>

<div class="load-more-container">
  <button
    mat-raised-button
    color="primary"
    (click)="loadMoreCocktails()"
    *ngIf="hasMoreCocktails()"
  >
    Load More
  </button>
</div>
